<!DOCTYPE html>
<html ng-app="megCodes">
  <head>
    <meta charset="utf-8">
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="../vendor/angular.min.js" type="text/javascript"></script>
    <script src="../vendor/angular-animate.min.js" type="text/javascript"></script>
    <script src="../vendor/angular-aria.min.js" type="text/javascript"></script>
    <script src="../vendor/angular-material.min.js" type="text/javascript"></script>
    <script src="../vendor/angular-route.min.js" type="text/javascript"></script>
    <script src="../scripts/mainController.js" type="text/javascript"></script>
    <link href="../vendor/angular-material.min.css" rel="stylesheet" />
    <link href="../vendor/angular-material.layout-attributes.min.css" rel="stylesheet" />
    <!-- <link href="../vendor/angular-material.layouts.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="../styles/stylesheet.css" charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
    <title>Meg.Codes</title>
    <md-toolbar layout="row" class="md-background md-hue-4 md-whiteframe-10dp" md-scroll-shrink="false" style="min-height: 105px;">
        <h1 style="padding:8px;">Meg.Codes</h1>
        <br />
        <br />
        <br />
        <span flex></span>
        <a href="/about">
            <md-button class="md-raised md-accent">About</md-button>
        </a>
        <a href="/contact">
            <md-button class="md-raised md-accent">Contact</md-button>
        </a>
    </md-toolbar>
  </head>
  <body>

  </body>
</html>
